.main{
  min-height: 100vh;
  background-color: #e5e5e5;
  display: grid;
  align-items: start;
  justify-items: center;
  padding: 2vh;
}


.content{
  width: 85vw;
  min-height: 30vh;
  border-radius: 0.6vh;
}

.user-card{
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
}
.user-name{
  font-size: 2.5vh;
}

.user-key{
  font-size: 1.6vh;
  font-weight: bold;
}

.user-value{
  font-size: 2.4vh;
}
